 <div class="user-details">
  <h1> Apresentação </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Aulas Particulares</h2>
      <a aria-label="My Google Plus" target="_blank" href="#"><i class="icon fa fa-whatsapp" aria-hidden="true"></i></a>
      <p>Explore seu potencial ao máximo com aulas particulares sob medida para você! Seja para reforçar conceitos, superar desafios ou acelerar seu aprendizado. Entre em contato e juntos vamos construir um caminho de sucesso educacional.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
