 <div class="user-details">
  <h1> Apresentação </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Aulas Particulares</h2>
      <div class="body-icons">
      <a aria-label="My Google Plus" target="_blank" href="#"><i class="icon fa fa-whatsapp" aria-hidden="true"></i></a>
      </div>
      <p>Explore seu potencial ao máximo com aulas particulares sob medida! Seja para reforçar conceitos, superar desafios ou acelerar seu aprendizado. Entre em contato e juntos vamos construir seu sucesso acadêmico.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
    
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    
</div>
