<div class="user-details">
  <h1> Monitorias Mestrado </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/resolution.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Resolução de Problemas 2023/02</h3>
    <ul>
      <li> Professor: Paulo Antônio</li>
    </ul>
    <p>Seja bem-vindo ao nosso espaço de Monitoria de Resolução de Problemas!  Fique à vontade para perguntar e não hesite em entrar em contato para discutir casos específicos. Estou aqui para ajudar.</p>
    <a class="project-link" href="https://drive.google.com/drive/folders/10BaLldrKkWO_Peq9Z5CdEcgvlymFR1wn?usp=sharing">Drive</a>
    <a class="project-link" href="https://chat.whatsapp.com/BbUIaPQbYFrIvgbwy0vRXl">Grupo Wpp</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Cálculo I 2023/01 </h3>
    <ul>
      <li> Professor: Henrique Versieux</li>
    </ul>
    <p> Encerrada com sucesso a Monitoria de Cálculo I ano 2023/01! Agradeço a todos os participantes por fazerem parte desta jornada de aprendizado. Espero que tenham aproveitado ao máximo as sessões, aprofundado seus conhecimentos em cálculo e adquirido novas habilidades. </p>
   <! -- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>

<div class="user-details">
  <h1> Monitoria Graduação </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/resolution.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Resolução de Problemas 2023/02</h3>
    <ul>
      <li> Professor: Paulo Antônio</li>
    </ul>
    <p>Seja bem-vindo ao nosso espaço de Monitoria de Resolução de Problemas!  Fique à vontade para perguntar e não hesite em entrar em contato para discutir casos específicos. Estou aqui para ajudar.</p>
    <a class="project-link" href="https://drive.google.com/drive/folders/10BaLldrKkWO_Peq9Z5CdEcgvlymFR1wn?usp=sharing">Drive</a>
    <a class="project-link" href="https://chat.whatsapp.com/BbUIaPQbYFrIvgbwy0vRXl">Grupo Wpp</a>
  </div>
</div>

  
